html { 
	height: 100% 
}

body {
    font-family: Verdana, Helvetica, sans-serif;
	font-weight:bold;
    background-color: #CCCC99;
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
}

#map-canvas { 
	width: 100%;
	height: 80%; 
}

.msglist {
	width:260px;
	height:160px;	
	overflow-y:auto;
	background-color:#99FFFF;	
}

#oldMsgList {
	display:none;
}

#content .msglist .authorname {
	font-weight: 900;	
}

#map-canvas {
	width: 75%;
	margin: 0 auto;
}
